<div class="container-fluid">
    <div class="row p-2 bg-info">
      <div class="col-6">
        <h3>Task List</h3>
      </div>
      <div class="col-6 text-end">
        <button mat-raised-button color="primary" (click)="openAddTaskDialog()">Add Task</button>
      </div>
    </div>
    
    <table mat-table [dataSource]="tasksList" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let task">{{ task.name }}</td>
      </ng-container>
  
      <!-- Start Time Column -->
      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef>Start Time</th>
        <td mat-cell *matCellDef="let task">{{ task.startTime | date:'short'  }}</td>
      </ng-container>
  
      <!-- End Time Column -->
      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef>End Time</th>
        <td mat-cell *matCellDef="let task">{{ task.endTime | date:'short' }}</td>
      </ng-container>
  
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let task">
          <button mat-button color="warn" (click)="deleteTask(task.id)">Delete</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['name', 'startTime', 'endTime', 'action']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'startTime', 'endTime', 'action']"></tr>
    </table>
  
    <h5 class="text-center p-5" *ngIf="tasksList.length === 0">No Tasks Found</h5>
  </div>
  